
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-3-3bB {
  background-color: #f4f0d3;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .auto-group-jmdw-zWR {
    width: 39.9rem;
    height: 98.2rem;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    background-color: #e7e4ad;
    flex-shrink: 0;
    padding: 2.1rem 0.6rem 6.3rem 0.4rem;

    .ellipse-1-gu3 {
      margin: 0rem 0rem 4.1rem 0.1rem;
      width: 29.4rem;
      height: 28.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .ikbal-hidayat-pratama-1Ad {
      font-weight: 500;
      line-height: 1.4475;
      color: #000000;
      font-family: Kaisei Tokumin, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 0.594rem 0.2rem;
      text-align: center;
      font-size: 2.4rem;
      max-width: 20.5rem;
    }
    .line-1-JQd {
      margin: 0rem 0.1rem 3.306rem 0rem;
      width: 38.8rem;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .ui-ux-designer-in-indonesian-E3P {
      margin: 0rem 3.8rem 3.5rem 0rem;
      font-weight: 400;
      line-height: 1.16;
      color: #000000;
      white-space: nowrap;
      text-align: center;
      font-size: 2rem;
      font-family: Imprima, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .line-2-XoB {
      width: 38.8rem;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0rem 35.6rem 0.1rem;
    }
    .line-3-fPb {
      margin: 0rem 0.1rem 2.3rem 0rem;
      width: 38.8rem;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .copyright-2023-all-right-reserved-PqP {
      font-family: Imprima, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.16;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      margin-left: 0.1rem;
    }
  }
  .auto-group-knn9-JBf {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6rem 4.9rem 5.4rem 3.4rem;
    height: 98.2rem;

    .auto-group-apcd-QkV {
      flex-shrink: 0;
      margin: 0rem 6rem 15.5rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .our-works-wVX {
        text-align: center;
        font-size: 4rem;
        color: #000000;
        white-space: nowrap;
        margin: 0rem 9.9rem 19.7rem 0rem;
        line-height: 1.16;
        font-family: Imprima, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 400;
      }
      .image-2-rcV {
        height: 19.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 8.3rem 5.5rem;
        width: 25.6rem;
      }
      .image-5-P6d {
        margin-left: 4.4rem;
        width: 26.7rem;
        height: 18.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-xwrw-iub {
      margin: 16.1rem 5.5rem 16.1rem 0rem;
      width: 29.3rem;
      height: calc(100% - 32.2rem);
      flex-shrink: 0;

      .built-great-product-3S5 {
        font-family: Imprima, 'Source Sans Pro';
        margin-bottom: 5.5rem;
        text-align: center;
        font-size: 3rem;
        color: #000000;
        width: 100%;
        font-weight: 400;
        line-height: 1.16;
        white-space: nowrap;
      }
      .image-3-xow {
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
        margin: 0rem 0rem 9rem 1.8rem;
        width: 27.5rem;
      }
      .image-6-hFj {
        margin-left: 1.8rem;
        width: 27.5rem;
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-ftfb-eAy {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 24.4rem;
      align-items: center;

      .image-4-Bgh {
        flex-shrink: 0;
        margin: 0rem 3.8rem 9.6rem 0rem;
        width: 27.3rem;
        height: 18.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .image-7-7aM {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 15.8rem;
        width: 31.1rem;
        height: 16.2rem;
      }
      .back-eqB {
        font-size: 2rem;
        color: #000000;
        font-family: Imprima, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 10.9rem;
        cursor: pointer;
        text-align: center;
        font-weight: 400;
        line-height: 1.16;
        flex-shrink: 0;
      }
    }
  }
}
