
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-4-S4D {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f4f0d3;

  .auto-group-amr7-nNy {
    box-sizing: border-box;
    height: 98.2rem;
    align-items: center;
    flex-direction: column;
    background-color: #e7e4ad;
    flex-shrink: 0;
    margin-right: 0.6rem;
    width: 39.9rem;
    display: flex;
    padding: 2.1rem 0.6rem 6.3rem 0.4rem;

    .ellipse-1-5N5 {
      height: 28.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 4.1rem 0.1rem;
      width: 29.4rem;
    }
    .ikbal-hidayat-pratama-oJ5 {
      max-width: 20.5rem;
      text-align: center;
      color: #000000;
      font-family: Kaisei Tokumin, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 0.594rem 0.2rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.4475;
    }
    .line-1-u6D {
      margin: 0rem 0.1rem 3.306rem 0rem;
      width: 38.8rem;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .ui-ux-designer-in-indonesian-EPP {
      text-align: center;
      color: #000000;
      font-family: Imprima, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.8rem 3.5rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.16;
    }
    .line-2-Yey {
      margin: 0rem 0rem 35.6rem 0.1rem;
      width: 38.8rem;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .line-3-HMf {
      margin: 0rem 0.1rem 2.3rem 0rem;
      width: 38.8rem;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .copyright-2023-all-right-reserved-ceq {
      text-align: center;
      font-weight: 400;
      line-height: 1.16;
      color: #000000;
      font-family: Imprima, 'Source Sans Pro';
      margin-left: 0.1rem;
      font-size: 2rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-uky3-7bb {
    margin-bottom: 1.6rem;
    width: 178.2rem;
    height: 84.6rem;
    position: relative;
    flex-shrink: 0;

    .contact-dZw {
      left: 6rem;
      top: 0;
      text-align: center;
      line-height: 1.16;
      font-family: Imprima, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 4.7rem;
      font-size: 4rem;
      font-weight: 400;
      color: #000000;
      width: 15.5rem;
    }
    .back-9HP {
      position: absolute;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      width: 4.2rem;
      cursor: pointer;
      left: 95rem;
      top: 82.2rem;
      line-height: 1.16;
      color: #000000;
      font-family: Imprima, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
    }
    .line-5-eE9 {
      width: 110.7rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 28.5rem;
      background-color: #000000;
    }
    .line-6-WXF {
      width: 110.7rem;
      height: 0.1rem;
      position: absolute;
      left: 67.5rem;
      top: 73.7rem;
      background-color: #000000;
    }
    .auto-group-e1e5-FUq {
      top: 32.3rem;
      border-top: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 123.6rem;
      height: 0.1rem;
      position: absolute;
      left: 6rem;
    }
    .auto-group-hvjm-mTB {
      width: 29.9rem;
      height: 6.5rem;
      position: absolute;
      left: 6.9rem;
      top: 49.3rem;
      display: flex;
      align-items: center;

      .image-8-tXo {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.4rem;
        width: 6.8rem;
        height: 6.5rem;
        object-fit: cover;
      }
      .ikbal-hidayat-pratama-S3X {
        margin-top: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: Imprima, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        line-height: 1.16;
        color: #000000;
        flex-shrink: 0;
      }
    }
    .auto-group-4d9f-MAV {
      display: flex;
      align-items: center;
      width: 21.4rem;
      height: 6.2rem;
      position: absolute;
      left: 6.7rem;
      top: 57.2rem;

      .image-9-suX {
        height: 6.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.1rem;
        width: 7rem;
      }
      .ikbaalprt31-pJy {
        color: #000000;
        font-family: Imprima, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.16;
      }
    }
    .auto-group-pz9o-YVs {
      height: 5.1rem;
      position: absolute;
      left: 7.5rem;
      top: 42.8rem;
      display: flex;
      align-items: center;
      width: 29.3rem;

      .image-10-HCZ {
        flex-shrink: 0;
        margin-right: 3.1rem;
        width: 6.5rem;
        height: 5.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .ikbalprt31gmailcom-RZf {
        margin-top: 0.3rem;
        line-height: 1.16;
        white-space: nowrap;
        color: #000000;
        font-family: Imprima, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .auto-group-caqv-w2D {
      display: flex;
      align-items: center;
      width: 22rem;
      height: 5.6rem;
      position: absolute;
      left: 7.2rem;
      top: 64.8rem;

      .image-11-UH3 {
        margin-right: 2.4rem;
        width: 6.1rem;
        height: 5.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-628809436698-bcZ {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.16;
        color: #000000;
        font-family: Imprima, 'Source Sans Pro';
      }
    }
  }
}
