
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-2-4Xf {
  width: 100%;
  height: 98.2rem;
  position: relative;
  overflow: hidden;
  background-color: #f4f0d3;
}
.macbook-pro-14-2-4Xf .rectangle-1-nCm {
  width: 39.9rem;
  height: 98.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e7e4ad;
}
.macbook-pro-14-2-4Xf .ellipse-1-Jwo {
  width: 29.4rem;
  height: 28.3rem;
  position: absolute;
  left: 5.2rem;
  top: 2.1rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-14-2-4Xf .ikbal-hidayat-pratama-qgq {
  width: 20.5rem;
  height: 7rem;
  position: absolute;
  left: 9.7rem;
  top: 34.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Kaisei Tokumin, 'Source Sans Pro';
}
.macbook-pro-14-2-4Xf .ui-ux-designer-in-indonesian-jnD {
  width: 25.3rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3rem;
  top: 45.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-4Xf .ui-ux-designer-in-indonesian-SAq {
  width: 25.3rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3rem;
  top: 45.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-4Xf .profile-95F {
  width: 13.8rem;
  height: 4.7rem;
  position: absolute;
  left: 44.1rem;
  top: 4.8rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-4Xf .line-1-FPB {
  width: 38.8rem;
  height: 0.1rem;
  position: absolute;
  left: 0.4rem;
  top: 42.0942rem;
  background-color: #000000;
}
.macbook-pro-14-2-4Xf .line-2-nP7 {
  width: 38.8rem;
  height: 0.1rem;
  position: absolute;
  left: 0.5rem;
  top: 51.4rem;
  background-color: #000000;
}
.macbook-pro-14-2-4Xf .line-3-Kdw {
  width: 38.8rem;
  height: 0.1rem;
  position: absolute;
  left: 0.4rem;
  top: 87.1rem;
  background-color: #000000;
}
.macbook-pro-14-2-4Xf .copyright-2023-all-right-reserved-rds {
  width: 28.5rem;
  height: 2.4rem;
  position: absolute;
  left: 5.65rem;
  top: 89.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-4Xf .hi-im-ikbal-hidayat-pratama-im-from-bandung-indonesia-and-i-study-at-university-of-islamic-nusantara-bandung-as-a-informathic-engineering-YFo {
  width: 87.7rem;
  height: 14rem;
  position: absolute;
  left: 53.3rem;
  top: 41.8rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
}
.macbook-pro-14-2-4Xf .ellipse-2-aCV {
  width: 33.6rem;
  height: 31.7rem;
  position: absolute;
  left: 39.3rem;
  top: 66.5rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-14-2-4Xf .ellipse-3-gmK {
  width: 33.6rem;
  height: 31.7rem;
  position: absolute;
  left: 57.9rem;
  top: 51.6rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-14-2-4Xf .ellipse-4-E29 {
  width: 33.6rem;
  height: 31.7rem;
  position: absolute;
  left: 77.6rem;
  top: 37.3rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-14-2-4Xf .ellipse-5-kmB {
  width: 33.6rem;
  height: 31.7rem;
  position: absolute;
  left: 97.2rem;
  top: 23rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-14-2-4Xf .ellipse-6-guj {
  width: 33.6rem;
  height: 31.7rem;
  position: absolute;
  left: 119rem;
  top: 9.1rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-14-2-4Xf .back-S8D {
  width: 4.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 138.4rem;
  top: 91.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-4Xf .a-bit-about-my-profile-8mj {
  width: 28.1rem;
  height: 3.5rem;
  position: absolute;
  left: 76.4rem;
  top: 33.7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-4Xf .frame-1-eVB {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 89.4rem;
  top: 30.4rem;
  overflow: hidden;
}
