
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-3-3bB {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f4f0d3;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR {
  box-sizing: border-box;
  padding: 2.1rem 0.6rem 6.3rem 0.4rem;
  width: 39.9rem;
  height: 98.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e7e4ad;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR .ellipse-1-gu3 {
  margin: 0rem 0rem 4.1rem 0.1rem;
  width: 29.4rem;
  height: 28.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR .ikbal-hidayat-pratama-1Ad {
  margin: 0rem 0rem 0.594rem 0.2rem;
  max-width: 20.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Kaisei Tokumin, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR .line-1-JQd {
  margin: 0rem 0.1rem 3.306rem 0rem;
  width: 38.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR .ui-ux-designer-in-indonesian-E3P {
  margin: 0rem 3.8rem 3.5rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR .line-2-XoB {
  margin: 0rem 0rem 35.6rem 0.1rem;
  width: 38.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR .line-3-fPb {
  margin: 0rem 0.1rem 2.3rem 0rem;
  width: 38.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-jmdw-zWR .copyright-2023-all-right-reserved-PqP {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf {
  box-sizing: border-box;
  padding: 6rem 4.9rem 5.4rem 3.4rem;
  height: 98.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-apcd-QkV {
  margin: 0rem 6rem 15.5rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-apcd-QkV .our-works-wVX {
  margin: 0rem 9.9rem 19.7rem 0rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-apcd-QkV .image-2-rcV {
  margin: 0rem 0rem 8.3rem 5.5rem;
  width: 25.6rem;
  height: 19.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-apcd-QkV .image-5-P6d {
  margin-left: 4.4rem;
  width: 26.7rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-xwrw-iub {
  margin: 16.1rem 5.5rem 16.1rem 0rem;
  width: 29.3rem;
  height: calc(100% - 32.2rem);
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-xwrw-iub .built-great-product-3S5 {
  margin-bottom: 5.5rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-xwrw-iub .image-3-xow {
  margin: 0rem 0rem 9rem 1.8rem;
  width: 27.5rem;
  height: 18.3rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-xwrw-iub .image-6-hFj {
  margin-left: 1.8rem;
  width: 27.5rem;
  height: 18.3rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-ftfb-eAy {
  margin-top: 24.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-ftfb-eAy .image-4-Bgh {
  margin: 0rem 3.8rem 9.6rem 0rem;
  width: 27.3rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-ftfb-eAy .image-7-7aM {
  margin-bottom: 15.8rem;
  width: 31.1rem;
  height: 16.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-3-3bB .auto-group-knn9-JBf .auto-group-ftfb-eAy .back-eqB {
  margin-left: 10.9rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  font-family: Imprima, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
